.noticia{
padding: 1em 0;
border-top: 1px solid #CCCCCC;
}
li.noticia:first-child{
border-top: 0;
}
li.noticia a{
color:black;
}
.right .tags span a {
color: #adacac;
}
#news .left {
float: left;
width: 24.5%;
margin-bottom: 2em
}
#news .left img{
width: 100%;
max-width:233px;
height: auto;
float:left;
margin-right: 20px;
}
#news .right {
float: right;
width:73.5%;
margin-bottom: 2em;
}
.noticia p{
margin: 0;
}
.noticia .news-date {
font-family:'museuSlab', Helvetica, Arial, sans-serif;
font-size:12px;
}
.noticia h4 {
margin:0 0 0.5em;
}
.noticia .tags{
padding-top:1em;
line-height: 1.6
}
.pages{
border-top: 1px solid #CCCCCC;
}
.pages div{
padding: 3em 0 0;
}
.pages .next{
float: right;
width: 50%;
text-align:right;
}
.pages .prev{
float: left;
width: 50%
}

@media screen and (max-width: 560px) {
	#news .left {
	width:100%;
	}
	#news .left .inner {
	margin:0;
	}
	#news .right{
	width: 100%
	}
}