@font-face {
	font-family: 'Museo';
	src: url('../src/assets/fonts/Museo300-Regular.otf');
	font-weight: 300;
	text-rendering : optimizeLegibility;
}

@font-face {
	font-family: 'Museo';
	src: url('../src/assets/fonts/Museo700-Regular.otf');
	font-weight: 700;
	text-rendering : optimizeLegibility;
}

body {
	width: 100%;
	margin: auto;
	font-family: 'Museo', sans-serif;
	font-weight: 300;
	font-size: 1em;
	line-height: 1.5em;
}

p {
	font-size: 1em;
	line-height: 1.75em;
}

h1 {
	font-family: 'Museo', sans-serif;
	font-weight: 700;
	font-size: 2em;
}

h2 {
	font-family: 'Museo', sans-serif;
	font-weight: 700;
	font-size: 1.5em;
	padding: 0;
	margin: 1em 0 0.5em 0;
}

h2.subsecao {
	font-weight: 300;
	text-transform: uppercase;
}

h3 {
	font-family: 'Museo', sans-serif;
	font-weight: 700;
	font-size: 1em;
	margin-bottom: -1em;
}
div.Anexo2_desenhos h3 {
	margin: 2em 0 1em 0;
}

h2.capitulo_portaria {
	font-size: 2em;
}

h4.titulo_quadro {
	font-size: 1.5em;
	line-height: 1.5em;
	font-weight: 700;
	margin: 1.5em 0 0.5em 0;
}

h4.subsecao_portaria {
	font-family: 'Museo', sans-serif;
	font-size: 1em;
	font-weight: 700;
}

h5 /*legenda tabelas*/ {
	font-family: 'Museo', sans-serif;
	font-size: 1em;
	margin: .5em 0;
}

h5.nota_quadro {
	font-size: 1em;
	font-weight: 300;
}

hr {
	border-style: solid;
	border-color: #EBEBEB;
	margin: 3em 0;
}


a {
	font-family: 'Museo', sans-serif;
}

strong {
	font-family: 'Museo';
	font-weight: 700;
}


#capituloI {
	font-family: sans-serif;
}

#content {
	width: 100%;
	margin: auto;
	line-height: 150%;
}

.destaque-decreto{
	font-weight: bold;
}

.corpo_decreto {
	color:#4F4F4F;
	padding-left: 4em;
}

a.ref_ilust {
	text-decoration: none;
	color: inherit;
	border-bottom: 1px solid #EB5757;
}

a.ref_ilust:hover {
	color: #EB5757;
	border-bottom: 0;
}

strong.bolinha::before {
	content: '•';
	margin-right: 3px;
	color: #ec6b70;
	margin-left: -13px;
	margin-right: 6px;
}

.adicionar_conteudo {
	background-color: #EB5757;
	width: 900px;
	margin: auto;
}

.glossario-decreto {
	background-color:yellow;
}

div.glossario-box {
	font-family: 'Museo', serif;
	font-size: 0.8em;
	line-height: 1.5em;
	float: right;
	width: 35%;
	padding: 1.5em;
	margin: 0 0 2em 2em;
	border: 1px dashed #EB5757;
	border-radius: 10px;
}

div.glossario-box p {
	margin: 1em 0;
}
div.glossario-box p:first-child { margin-top: 0; }
div.glossario-box p:last-child { margin-bottom: 0; }

sup {
	font-family: inherit;
	font-weight: inherit;
	color: #EB5757;
	vertical-align: super;
	font-size: 10px;
	margin: 0 2px;
}

span.nota {
	color: #EB5757;
	margin-right: 0.5em;
}

td, th {
	padding: 1em;
	border: 1px solid #cccccc;
	border-collapse: collapse;
	font-size: 1em;
	vertical-align: middle;
}

table {
	width: 100%;
	text-align: center;
}
table thead td {
	font-weight: 700;
	padding: .3em;
	border: 1px solid #F7C5C8;
}
table caption {
	font-weight: 700;
	text-align: left;
	margin: 1em 0 .2em 0;
}
table tr td {
	padding: .6em;
	border: 1px solid #F7C5C8;
}

table.quadro {
	width: 100%;
	margin-bottom: 1em;
}

table.quadro p {
	padding: 0;
	margin: 0;
}

table.quadro thead {
	font-weight: bold;
	text-align: center;
}

div.quadro_modelo_cont {
	padding: 10px;
	border: 1px solid #cccccc;
}

table.quadro_modelo {
	width: 100%;
	padding: 0;
	margin-bottom: 10px;
	text-align: left;
}

table.quadro_modelo:last-child {
	margin-bottom: 0;
}

table.quadro_modelo td {
	padding: 0.5em;
	height: 1.5em;
}

#tdPar td:nth-child(2n) {
	text-align: right;
	width: 15%;
}

table.quadro_modelo td p {
	padding: 0;
	margin: 0;
}

table.alt {
	text-align: left;
}

.corpo-centralizado {
	font-size: 11px;
	padding:5px;
}

.notas {
	color: #999;
	font-family: 'Museo', sans-serif;
	font-weight: 300;
}

ol.lista_a {
	list-style-type: lower-alpha;
	margin-left: 4em;
}
ol.lista_a li {
	line-height: 1.75em;
	margin: .5em 0;
	padding-left: 1em;
}

ul.lista {
	list-style-type: disc;
	margin: 0.5em 0 0.5em 14px;
}

ul.lista li {
	margin: 0.5em 0;
}

div.Creditos div p:first-child {
	font-weight: 700;
	margin-top: 1em;
}

div.Creditos div p {
	line-height: 130%;
	margin: 0;
	padding: 0;
}

div#decreto {
	padding-left: 4em;
	color: #757575;
}

div.portaria-declaracao {
	padding: 1em 1.5em;
	border: 1px solid #F7C5C8;
	border-radius: 10px;
	margin: .5em 0;
}

div.Portaria4 div.portaria-declaracao p:first-child {
	text-align: center;
	margin-top: 0;
}
div.Portaria4 div.portaria-declaracao p:last-child {
	margin-bottom: 0;
}

div.Indice_remissivo span.vermelho {
	color: #EB5757;
}

div.Creditos div p {
	margin: .75em 0;
}