db_info.php
.DS_Store
*.log

wp-config.php
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

node_modules/
db_info.php

/piu-monitoramento/.git
/piu-monitoramento/dev
/piu-monitoramento/node_modules
/piu-monitoramento/node_modules
/piu-monitoramento/.babelrc
/piu-monitoramento/gulpfile.js
/piu-monitoramento/index.html
/piu-monitoramento/LICENSE
/piu-monitoramento/package.json
/piu-monitoramento/package-lock.json
/piu-monitoramento/README.md