#sumario_linha {
	#linha_do_tempo {
		margin-top: 4em;
	};
	.vis-timeline {
		border-radius: 2px;
	};
	.vis-group {
		border-bottom-width: 0px;
	};
	.vis-foreground .vis-group:nth-child(2n+1) {
		background-color: rgba(0,0,0,.1);
	};
	.vis-label {
		border-bottom-width: 0px;
		display: flex;
		align-items: center;
		box-sizing: border-box;
		padding: 4px;
		color: #333;
	};
	.vis-label:nth-child(2n+1) {
		background-color: rgba(0,0,0,.1);
	};
	.vis-item {
		border: 1px solid #DDD;
		border-radius: 3px;
		padding: 4px;
		color: #FFF;
		line-height: 15px;
		background: unset;
	};
	.vis-current-time {
		width: 1px;
		background-color: $implantacao;
	};
	.vis-current-time::before {
		display: block;
		content: "HOJE";
		color: $implantacao;
		font-size: small;
		font-weight: 700;
		padding: 2px 4px;
		box-sizing: border-box;
		transform: rotate(-90deg);
		position: absolute;
		bottom: 13px;
		right: -11px;
	};
	.vis-time-axis .vis-text.vis-minor {
		font-size: small;
		text-transform: uppercase;
		color: transparent;
		padding: 2px 5px;
	};	
	.vis-time-axis > .vis-text.vis-minor.vis-january::before { content: 'Jan'; color: #BDBDBD; display: block; text-align: center;};
	.vis-time-axis > .vis-text.vis-minor.vis-february::before { content: 'Fev'; color: #BDBDBD; display: block; text-align: center;};
	.vis-time-axis > .vis-text.vis-minor.vis-march::before { content: 'Mar'; color: #BDBDBD; display: block; text-align: center;};
	.vis-time-axis > .vis-text.vis-minor.vis-april::before { content: 'Abr'; color: #BDBDBD; display: block; text-align: center;};
	.vis-time-axis > .vis-text.vis-minor.vis-may::before { content: 'Mai'; color: #BDBDBD; display: block; text-align: center;};
	.vis-time-axis > .vis-text.vis-minor.vis-june::before { content: 'Jun'; color: #BDBDBD; display: block; text-align: center;};
	.vis-time-axis > .vis-text.vis-minor.vis-july::before { content: 'Jul'; color: #BDBDBD; display: block; text-align: center;};
	.vis-time-axis > .vis-text.vis-minor.vis-august::before { content: 'Ago'; color: #BDBDBD; display: block; text-align: center;};
	.vis-time-axis > .vis-text.vis-minor.vis-september::before { content: 'Set'; color: #BDBDBD; display: block; text-align: center;};
	.vis-time-axis > .vis-text.vis-minor.vis-october::before { content: 'Out'; color: #BDBDBD; display: block; text-align: center;};
	.vis-time-axis > .vis-text.vis-minor.vis-november::before { content: 'Nov'; color: #BDBDBD; display: block; text-align: center;};
	.vis-time-axis > .vis-text.vis-minor.vis-december::before { content: 'Dez'; color: #BDBDBD; display: block; text-align: center;};
	.lt_proposicao {
		background-color: $proposicao;
	};
	.lt_andamento {
		background-color: $andamento;
	};
	.lt_implantacao {
		background-color: $implantacao;
	};
	.vis-point {
		background-color: transparent !important;
		border-width: 0px;
		color: #FFF !important;
		margin-left: 12px;
		margin-top: -1px;
		.vis-dot {
			visibility: hidden;
		};
	};
	.vis-range * .vis-item-content {
		display: flex;
		span {
			font-size: 11px;
			padding: 0 2px;
			margin-left: 4px;
			color: rgba(255,255,255,.8);
		}
	}
	.vis-point > .vis-item-content {
		display: flex;
		margin-left: 0 !important;
		background: #777;
		line-height: 14px;
		padding: 5px 5px 5px 8px;
		border-radius: 0 2px 2px 0;
		span {
			font-size: 11px;
			padding: 0 2px;
			margin-left: 4px;
			color: #BCBCBC;
		};
	};
	.vis-point > .vis-item-content::before {
		display: inline-block;
		content: '';
		border-top: 12px solid #777;
		border-bottom: 12px solid #777;
		border-right: 6px solid #777;
		border-left: 6px solid transparent;
		position: absolute;
		top: 4px;
		left: -2px;
	};
	.vis-item .vis-selected {
		z-index: 42;
	};
	div.vis-tooltip {
		padding: 2px 5px;
		font-family: unset;
		color: #333;
		background: rgba(255,255,255,.8);
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		border: 1px solid #BDBDBD;
		box-shadow: 0 2px 2px rgba(0,0,0,.2);
	};

@media (max-width: 720px) {
	.vis-panel.vis-left {
		width: 100px;
		.vis-content > .vis-labelset > .vis-label {
			font-size: 10px;
			text-transform: uppercase;
		}
	}
}
}