.DS_Store
node_modules/
data_src/
dev/
vendor/ol.4.2.0.css
vendor/vis.min.css
vendor/ol.4.2.0.js
vendor/vue.js
babelrc
gulpfile.js
index.html
LICENSE
package-lock.json
package.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln