#project-nav > #wrapper-first{
    z-index:50
}
#wrapper-first .clearfix {
	height: 0;
}
#default-inner{
	padding: 0 3%;
	max-width: 94%;
}
#app{
	box-sizing: border-box;
	.Header{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		flex-direction: column;
		width: 100%;
		max-width:960px;
		z-index: 10;
		div.nav {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			flex-wrap: wrap;
			border-bottom: 1px solid #EEEEEE;
			background-color: #FFFFFF;
			z-index: 6;
		}
		h3 {
			font-size: 30px;
			display: inline-block;
			line-height: 24px;
			padding: 12px 0;
			max-width: 480px;
			max-height: 24px;
		}
		margin-bottom: 0px;
	}
	#inpaddiv{
		padding-bottom: 0px;
	}

	p {
		color: #333333;
	}

	h1 {
		font-weight: 700;
		font-size: 20px;
		line-height: 30px;
		margin: 30px 0;
	}

	h2 {
		font-weight: 500;
		font-size: 20px;
		line-height: 30px;
		margin: 30px 0 15px 0;
	}

	h2.subsecao {
		font-weight: 300;
		text-transform: uppercase;
	}

	h3 {
		font-weight: 700;
		font-size: 15px;
		margin-bottom: -15px;
	}

	div.Anexo2_desenhos h3 {
		margin: 30px 0 15px 0;
	}

	h2.capitulo_portaria {
		font-size: 20px;
	}

	h4.titulo_quadro {
		font-size: 20px;
		line-height: 25px;
		font-weight: 700;
		margin: 20px 0 5px 0;
	}

	h4.subsecao_portaria {
		font-size: 15px;
		font-weight: 700;
		line-height: 25px;
		margin: 25px 0 0 0;
	}

	h5 /*legenda tabelas*/ {
		font-size: 15px;
		margin: 10px 0;
	}

	h5.nota_quadro {
		font-size: 15px;
		font-weight: 300;
	}

	hr {
		margin: 40px 0;
		border: none;
		height: 1px;
		background-color: #EEEEEE;
	}

	#content {
		width: 100%;
		margin: auto;
		line-height: 150%;
	}

	.destaque-decreto{
		font-weight: bold;
	}

	.corpo_decreto {
		color:#969696;
		padding-left: 60px;
	}

	a.ref_ilust {
		text-decoration: none;
		color: inherit;
		border-bottom: 1px solid #EB5757;
	}

	a.ref_ilust:hover {
		color: #EB5757;
		border-bottom: 0;
	}

	strong.bolinha::before {
		content: '•';
		margin-right: 3px;
		color: #ec6b70;
		margin-left: -7px;
		margin-right: 2px;
	}

	.glossario-decreto {
		background-color:yellow;
	}

	div.glossario-box {
		font-size: 13px;
		line-height: 22px;
		float: left;
		width: 35%;
		padding: 20px;
		margin: 0 20px 20px 0;
		border: 1px dashed #EB5757;
		border-radius: 10px;
		box-sizing: border-box;
		word-break: break-word;
		hyphens: auto;
		-ms-hyphens: auto;
		-webkit-hyphens: auto;
		p { font-size: 13px; margin: 15px 0; };
		p:first-child { margin-top: 0; };
		p:last-child { margin-bottom: 0; };
		ul {
			list-style-type: disc;
			margin-left: 15px;
			li { padding-left: 5px; };
		};
	}

	.glossario-box.full {
		margin-right: 0;
		width: 100% !important;
	}

	.portaria {
		width: 15% !important;
	}

	sup {
		font-weight: inherit;
		color: #EB5757;
		vertical-align: 5px;
		font-size: 10px;
		line-height: 20px;
		margin: 0 2px;
	}

	span.nota {
		color: #EB5757;
		margin-right: 10px;
	}

	td, th {
		padding: 15px;
		border: 1px solid #cccccc;
		border-collapse: collapse;
		vertical-align: middle;
	}

	table {
		width: 100%;
		font-size: 15px;
		text-align: center;
	}
	table thead td {
		font-weight: 700;
		padding: 5px;
		border: 1px solid #F7C5C8;
	}
	table caption {
		font-weight: 700;
		text-align: left;
		margin: 15px 0 5px 0;
	}
	table tr td {
		padding: 10px;
		border: 1px solid #F7C5C8;
	}

	table.quadro {
		width: 100%;
		margin-bottom: 15px;
	}

	table.quadro p {
		padding: 0;
		margin: 0;
	}

	table.quadro thead {
		font-weight: bold;
		text-align: center;
	}

	div.quadro_modelo_cont {
		padding: 10px;
		border: 1px solid #cccccc;
	}

	table.quadro_modelo {
		width: 100%;
		padding: 0;
		margin-bottom: 10px;
		text-align: left;
	}

	table.quadro_modelo:last-child {
		margin-bottom: 0;
	}

	table.quadro_modelo td {
		padding: 7px;
		height: 20px;
		hyphens: auto;
		-ms-hyphens: auto;
		-webkit-hyphens: auto;
	}

	#tdPar td:nth-child(2n) {
		text-align: right;
		width: 15%;
	}

	table.quadro_modelo td p {
		padding: 0;
		margin: 0;
	}

	table.alt {
		text-align: left;
	}

	.corpo-centralizado {
		font-size: 11px;
		padding: 5px;
	}

	.notas {
		color: #999;
		font-weight: 300;
	}

	ol.lista_a {
		list-style-type: lower-alpha;
		margin-left: 60px;
		font-size: 15px;
	}
	ol.lista_a li {
		line-height: 25px;
		margin: 5px 0;
		padding-left: 15px;
	}

	ul.lista {
		list-style-type: disc;
		margin: 5px 0;
		padding-left: 15px;
		line-height: 25px;
		font-size: 15px;
	}

	ul.lista li {
		margin: 5px 0;
	}

	div.decreto {
		padding-left: 60px;
		color: #757575;
		font-size: 15px;
		line-height: 25px;
	}

	div.portaria-declaracao {
		padding: 15px 20px;
		border: 1px solid #F7C5C8;
		border-radius: 10px;
		margin: 5px 0;
	}

	div.Portaria4 div.portaria-declaracao p:first-child {
		text-align: center;
		margin-top: 0;
	}
	div.Portaria4 div.portaria-declaracao p:last-child {
		margin-bottom: 0;
	}

	.Indice_remissivo {
		column-count: 2;
		p.indice {
			display: inline-block;
			margin: 0 0 25px 0;
			width: 100%;
		}
	}

	.Creditos {
		column-count: 2;
		div {
			display: inline-block;
			width: 100%;
			margin: 0 0 25px 0;
			p { margin: 0; };
		}
		div > p:first-child {
			font-weight: 700;
		}
	}

	.g-artboard {
		margin: 40px 0;
	}

	@media (max-width: 959px) {
		.corpo_decreto, div.decreto {
			padding-left: 20px;
		}
		div.glossario-box {
			float: none;
			margin: 15px 0;
			width: 100%;
		}
		.portaria { width: unset !important; }
		.Indice_remissivo { column-count: 1; }
		.Creditos { column-count: 1; }
	}

}